<!DOCTYPE html><!-- HTML5 -->
<html lang="en">

  <head>
    <!-- Set character encoding for the document -->
    <meta charset="utf-8">
    <!-- Viewport for responsive web design -->
    <meta content="width=device-width, initial-scale=1, viewport-fit=cover" name="viewport">
    <!-- Document Title -->
    <title>Demo | Beatbox Kit</title>
    <!-- Meta Description -->
    <meta name="description" content="Demo | A Beatbox Kit that works with and without JavaScript">
    <!-- Recommended favicon format -->
    <link rel="icon" type="image/png" href="./images/favicon.png">
    <!-- Main stylesheet -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,800">
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="./" class="logo">Beatbox Kit</a>
        </li>
        <li>
          <a href="./">Home</a>
        </li>
        <li>
          <a href="./demo" class="active-link">Demo</a>
        </li>
      </ul>
    </nav>
    <main>
      <div>
        <div class="kit-enclosure">
          <div class="no-js">
            <form action="/create-mp3-file/" method="GET">
              <fieldset>
                <legend>Create your own beat</legend>
                <label for="one">Every one second</label>
                <select name="one">
                  <option>None</option>
                  <option>Ahh</option>
                  <option>Boom</option>
                  <option>Breath</option>
                  <option>Buff</option>
                  <option>Clap</option>
                  <option>Click</option>
                  <option>Crack</option>
                  <option>Hat</option>
                  <option>Hiss</option>
                  <option>Kick</option>
                  <option>Pop</option>
                  <option>Snare</option>
                </select>
                <label for="two">Every two seconds</label>
                <select name="two">
                  <option>None</option>
                  <option>Ahh</option>
                  <option>Boom</option>
                  <option>Breath</option>
                  <option>Buff</option>
                  <option>Clap</option>
                  <option>Click</option>
                  <option>Crack</option>
                  <option>Hat</option>
                  <option>Hiss</option>
                  <option>Kick</option>
                  <option>Pop</option>
                  <option>Snare</option>
                </select>
                <label for="three">Every three seconds</label>
                <select name="three">
                  <option>None</option>
                  <option>Ahh</option>
                  <option>Boom</option>
                  <option>Breath</option>
                  <option>Buff</option>
                  <option>Clap</option>
                  <option>Crack</option>
                  <option>Click</option>
                  <option>Hat</option>
                  <option>Hiss</option>
                  <option>Kick</option>
                  <option>Pop</option>
                  <option>Snare</option>
                </select>
                <label for="four">Every four seconds</label>
                <select name="four">
                  <option>None</option>
                  <option>Ahh</option>
                  <option>Boom</option>
                  <option>Breath</option>
                  <option>Buff</option>
                  <option>Clap</option>
                  <option>Crack</option>
                  <option>Click</option>
                  <option>Hat</option>
                  <option>Hiss</option>
                  <option>Kick</option>
                  <option>Pop</option>
                  <option>Snare</option>
                </select>
                <button type="submit">Create my beat</button>
              </fieldset>
            </form>
            <fieldset>
              <legend>Listen to options</legend>
              <div class="key-container">
                <div class="card">
                  <span>Ahh</span>
                  <audio src="./sounds/ahh.wav" type="audio/wav" controls>
                    Your browser does not support the <code>audio</code> element.
                  </audio>
                </div>
                <div class="card">
                  <span>Boom</span>
                  <audio src="./sounds/boom.wav" type="audio/wav" controls>
                    Your browser does not support the <code>audio</code> element.
                  </audio>
                </div>
                <div class="card">
                  <span>Breath</span>
                  <audio src="./sounds/breath.wav" type="audio/wav" controls>
                    Your browser does not support the <code>audio</code> element.
                  </audio>
                </div>
                <div class="card">
                  <span>Buff</span>
                  <audio src="./sounds/buff.wav" type="audio/wav" controls>
                    Your browser does not support the <code>audio</code> element.
                  </audio>
                </div>
                <div class="card">
                  <span>Clap</span>
                  <audio src="./sounds/clap.wav" type="audio/wav" controls>
                    Your browser does not support the <code>audio</code> element.
                  </audio>
                </div>
                <div class="card">
                  <span>Click</span>
                  <audio src="./sounds/click.wav" type="audio/wav" controls>
                    Your browser does not support the <code>audio</code> element.
                  </audio>
                </div>
                <div class="card">
                  <span>Crack</span>
                  <audio src="./sounds/crack.wav" type="audio/wav" controls>
                    Your browser does not support the <code>audio</code> element.
                  </audio>
                </div>
                <div class="card">
                  <span>Hat</span>
                  <audio src="./sounds/hat.wav" type="audio/wav" controls>
                    Your browser does not support the <code>audio</code> element.
                  </audio>
                </div>
                <div class="card">
                  <span>Hiss</span>
                  <audio src="./sounds/hiss.wav" type="audio/wav" controls>
                    Your browser does not support the <code>audio</code> element.
                  </audio>
                </div>
                <div class="card">
                  <span>Kick</span>
                  <audio src="./sounds/kick.wav" type="audio/wav" controls>
                    Your browser does not support the <code>audio</code> element.
                  </audio>
                </div>
                <div class="card">
                  <span>Pop</span>
                  <audio src="./sounds/pop.wav" type="audio/wav" controls>
                    Your browser does not support the <code>audio</code> element.
                  </audio>
                </div>
                <div class="card">
                  <span>Snare</span>
                  <audio src="./sounds/snare.wav" type="audio/wav" controls>
                    Your browser does not support the <code>audio</code> element.
                  </audio>
                </div>
              </div>
            </fieldset>
          </div>
          <div class="with-js">
            <fieldset class="sample-field">
              <legend>Samples</legend>
              <div class="key-container"></div>
            </fieldset>
            <fieldset>
              <legend>Panel</legend>
              <input type="checkbox" name="loop" class="loop">
              <label for="loop" class="checkbox--label">Loop</label>
            </fieldset>
          </div>
        </div>
      </div>
    </main>
    <footer class=" footer">
      <h2>Beatbox Kit</h2>
      <small>&copy; Copyright 2019 Beatbox Kit</small>
    </footer>
  </body>
  <script type="text/javascript" src="/js/main.js"></script>

</html>